{% extends 'base.html' %}
{% block content %}

<form id="form" method="POST" action="{% url 'farm_coffee_app:placeorder' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                    <div id="user-info">
                        <div class="form-field">
                            <input type="text" required class="form-control" name="first_name" placeholder="Enter First Name">
                        </div>
                        <div class="form-field">
                            <input type="text" required class="form-control" name="second_name" placeholder="Enter Second Name">
                        </div>
                    </div>
                    
                    <div id="shipping-info">
                        <hr>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input type="text" required class="form-control" name="street" placeholder="Enter Street">
                        </div>
                        <div class="form-field">
                            <input type="text" required class="form-control" name="city" placeholder="Enter City">
                        </div>
                        <div class="form-field">
                            <input type="text" required class="form-control" name="province" placeholder="Enter province">
                        </div>
                        <div class="form-field">
                            <input type="text" required class="form-control" name="zip_code" placeholder="Enter zip code">
                        </div>
                        <div class="form-field">
                            <input type="integer" required class="form-control" name="phone_number placeholder="Enter Phone Number">
                        </div>
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Make Order">
            </div>
            
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>฿{{item.product.price|floatformat:2}}</p></div>
                    <div style="flex:1"><p>x{{item.quantity}}</p></div>
                </div>
                {% endfor %}
                <h5>Items:   {{ items}}</h5>
                <h5>Total:   ฿{{order.get_cart_total|floatformat:2}}</h5>
            
            </div>
        </div>
    </div>
</form>

<a  class="btn btn-outline-dark" href="{% url 'farm_coffee_app:cart' %}">&#x2190; Back to Cart</a>

{% endblock %}