{% extends 'base.html' %}
{% block content %}

<div class="w-75 m-auto">
    <h2 class="text-center my-3 bg-warning">Here are some recommendations!</h2>
    <div class="row">
        {% for recommendation in recommendations %}
            <div class="ol-lg-4 col-md-4 col-sm-4 col-12">
                <div class="card my-2" data-toggle="tooltip" title="{{product}}">
                    <a href="{% url 'farm_coffee_app:read_product_detail' product_list.product_id %}" class="product_a">
                        <div class="card-header bg-primary"></div>
                        <div class="card-body">{{result}}</div>
                        <div class="card-footer bg-success"></div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}