{% extends 'base.html' %}
{% block content %}

<div class="container-wrapper">
    {% if recommended %}
    <h5 class="my-4 text-light">Here are some recommendations for you!</h5>
    <div class="row">
        {% for item in recommended %}
        <div class="col-4 mb-2">
            <div class="card" style="width: 18rem">
                <img src="{{item.image}}" alt="Card image cap" class="card-img-top" height="250px" width="200px">
                <div class="card-footer">
                    <small class="text-muted">{{item.name}}</small>
                    <small class="text-muted">{{item.category}}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h5 class="my-4 text-light">Oops! Seems like we don't have recommendations for you. Come buy some drinks and rate them! And then we'll give you some amazing suggestions!</h5>
    {% endif %}
</div>

{% endblock %}