:root {
    --color-one: black;
    --color-two: black;
    --color-three: black;
}


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.95em;
    color: #222;
}

.category_links{
    text-decoration: none;
}
.category_links:hover{
    text-decoration:underline;
}

.recommendations{
    padding: 2px 10px;
    background-color: #76ff76;
}
.container {
    top: 50%;
    left: 50%;
    margin-top: 20px;
}

.card {
    border: 1px solid var(--color-three);
    margin-bottom: 20px;
    transition: border 0.1s, transform 0.3s;
}

.card:hover {
    border: 1px solid var(--color-two);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}

.card .card-body h2 {
    color: var(--color-one);
}

.card img:hover {
  opacity: 0.6;
}

.card-p {
    color: var(--color-three);
}

.card-p i {
    color: var(--color-two);
    margin-right: 8px;
}

p.card-text{
    color: #222;
}

/* Cart */

.cart-container {
    overflow-x: auto;
}

.cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

.cart-container table thead {
    font-weight: 700;
}

.cart-container table thead td {
    background-color:#228b22;
    color: white;
    border: none;
    padding: 6px 0;
}

.cart-container table td {
    border: 1px solid black;
    text-align: center;
}

.cart-container table td:nth-child(1) {
    width: 100px;
}

.cart-container table td:nth-child(2), 
.cart-container table td:nth-child(3){
    width: 200px;
}

.cart-container table td:nth-child(4),
.cart-container table td:nth-child(5),
.cart-container table td:nth-child(6) {
    width: 170px;
}

.cart-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.cart-bottom .total h5{
    background-color: #228b22;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

.cart-bottom .total>div {
    border: 1px solid black;
}

.cart-bottom .total div>div{
    padding: 0 12px;
}

.cart-bottom .total h6{
    color: black;
}



/* checkout */
h1,h2,h3,h4,h5,h6{
    color:hsl(0, 0%, 30%);
}

.product{
    border-radius: 0 0 4px 4px;
}

.box-element{
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.row-image{
    width: 100px;
}

.form-field{
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition:.1s;
}

.chg-quantity:hover{
    opacity: .6;
}

.hidden{
    display: none!important;
}

/* Admin Table styles */
.table-title {        
    padding-bottom: 15px;
    background: #222222;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
    color: white;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

 .table tr th, .table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
   
}




/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}