:root {
    --color-one: black;
    --color-two: black;
    --color-three: black;
}


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.95em;
    color: #222;
}

.container {
    top: 50%;
    left: 50%;
    margin-top: 20px;
}

.card {
    border: 1px solid var(--color-three);
    margin-bottom: 20px;
    transition: border 0.1s, transform 0.3s;
}

.card:hover {
    border: 1px solid var(--color-two);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}

.card .card-body h2 {
    color: var(--color-one);
}

.card img:hover {
  opacity: 0.6;
}

.card-p {
    color: var(--color-three);
}

.card-p i {
    color: var(--color-two);
    margin-right: 8px;
}

p.card-text{
    color: #222;
}

/* Cart */

.cart-container {
    overflow-x: auto;
}

.cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

.cart-container table thead {
    font-weight: 700;
}

.cart-container table thead td {
    background-color:#228b22;
    color: white;
    border: none;
    padding: 6px 0;
}

.cart-container table td, thead {
    border: 1px solid black;
    text-align: center
}

.cart-container table td:nth-child(1) {
    width: 100px;
}

.cart-container table td:nth-child(2), 
.cart-container table td:nth-child(3){
    width: 200px;
}

.cart-container table td:nth-child(4),
.cart-container table td:nth-child(5),
.cart-container table td:nth-child(6) {
    width: 170px;
}

.cart-container table tbody img{
    width: 100px;
    height: 80 px;
    object-fit: cover;
}

.cart-bottom .total h5{
    background-color: #228b22;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

.cart-bottom .total>div {
    border: 1px solid black;
}

.cart-bottom .total div>div{
    padding: 0 12px;
}

.cart-bottom .total h6{
    color: black;
}

/* star rating */



/* checkout */
h1,h2,h3,h4,h5,h6{
    color:hsl(0, 0%, 30%);
}

.product{
    border-radius: 0 0 4px 4px;
}

.box-element{
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.row-image{
    width: 100px;
}

.form-field{
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row{
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition:.1s;
}

.chg-quantity:hover{
    opacity: .6;
}

.hidden{
    display: none!important;
}


