{% extends 'base.html' %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height:500px">
      <img class="d-block w-100" style="height:500px; object-fit:scale-down;" src="../static/farm_coffee_app/images/C1.png" alt="First slide">
    </div>
    <div class="carousel-item" style="height:500px">
      <img class="d-block w-100" style="height:500px; object-fit:scale-down;" src="../static/farm_coffee_app/images/C2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item" style="height:500px">
      <img class="d-block w-100" style="height:500px; object-fit:scale-down;" src="../static/farm_coffee_app/images/C3.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" style="filter: invert(100%);" aria-hidden="true"></span>
    <span class="sr-only" style="color: black;">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" style="filter: invert(100%);" aria-hidden="true"></span>
    <span class="sr-only" style="color: black;">Next</span>
  </a>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Americano</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Americano</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Americano</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>
      
{% endblock %}