{% extends 'base.html' %}

{% block content %}
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" style="height:500px">
            <img class="d-block w-100" style="height:500px; object-fit:scale-down;" src="../static/farm_coffee_app/images/C1.png" alt="First slide">
          </div>
          <div class="carousel-item" style="height:500px">
            <img class="d-block w-100" style="height:500px; object-fit:scale-down;" src="../static/farm_coffee_app/images/C2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item" style="height:500px">
            <img class="d-block w-100" style="height:500px; object-fit:scale-down;" src="../static/farm_coffee_app/images/C3.png" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" style="filter: invert(100%);" aria-hidden="true"></span>
          <span class="sr-only" style="color: black;">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" style="filter: invert(100%);" aria-hidden="true"></span>
          <span class="sr-only" style="color: black;">Next</span>
        </a>
      </div>




{% if products %}
<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
        <div class="card shadow">
          <img src="{{ product.imageURL }}" class="card-img-top" alt="...">
          <div class="card-body">
              <h3 class="card-title">{{ product.name }}</h3>
              <p class="card-text">฿{{ product.price }}</p>
          </div>
          <div class="card-body card-p">
              <div class="row">
                  <div class="col col-md-6">
                    <button type="button" data-product="{{product.product_id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                  </div>
                  <div class="col col-xmd-6">
                    <a class="btn btn-outline-primary" href="{% url 'farm_coffee_app:read_product_detail' product.product_id %}">View</a>
                  </div>
              </div>
          </div>
      </div>
      </a>  
  </div>
    {% endfor %}
  
      
  </div>
</div>
{% endif %}

 
{% endblock %}

 


