{% extends 'base.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <input hidden name='path' value="{{ request.path }}" />
        <input hidden type="number" name="product_fk_product_id" value={{product.product_id}}>
    <label for="rating">Rating</label>
         <input type="number" min="0" max="5" name="rating" class="range-field">

    <label for="review_description">Review</label>
        <input type="text" name="review_description">

    <input type="submit" value="Update">
    
</form>

{% endblock %}