{% extends 'base.html' %}
{% block content %}
<title>Admin Dashboard</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .red-color{
      color: #dc3545;  
    }
	.yellow-color{
		color: #ffc107;
	}
</style>



</script>
  <body>
	  <div class="d-flex flex-row gap-4 align-item-center">
		<ul class="nav nav-pills nav-fill">
			<li class="active">
				<a onclick="getInfos('order')" data-toggle="tab">View Order List</a>
			</li>
			<li>
				<a onclick="getInfos('product')" data-toggle="tab">View Product List</a>
			</li>
			<li>
				<a onclick="getInfos('employee')" data-toggle="tab">View Employee List</a>
			</li>
		</ul>
	  </div>
    <br>
	<!-- Product Management -->
    <div id="product_info" class="container hidden tab-pane">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Products</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="{% url 'farm_coffee_app:create_product' %}" class="btn btn-success"><i class="bi bi-plus-square me-2"></i> <span>Add Product</span></a>
						<a href="" class="btn btn-danger"><i class="bi bi-dash-square me-2"></i><span>Delete</span></a>					
					</div>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAllProduct">
								<label for="selectAllProduct"></label>
							</span>
						</th>
                        <th>Image</th>
                        <th>Name</th>
						<th>Price</th>
                        <th>Category</th>
                        <th>Availability</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="product_table">
					{% for product in products %}
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</th>
                        <td height=100 width=100>
							<img src="{{product.image}}"> 
						</td>
                        <td>{{product.name}}</td>
						<td>฿{{product.price}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.availability}}</td>
                        <td>
                            <a href="{% url 'farm_coffee_app:update_product' product.pk %}" class="edit"><i class="bi bi-pencil-fill yellow-color me-2" data-toggle="tooltip" title="Edit"></i></a>
                            <a href="{% url 'farm_coffee_app:delete_product' product.pk %}" class="delete"><i class="bi bi-trash3-fill red-color" data-toggle="tooltip" title="Delete"></i></a>
                        </td>
                    </tr>	
					{% endfor %}
                </tbody>
            </table>

        </div>
    </div>
	
<!-- Employee Management -->
<br>
    <div id="employee_info" class="container hidden tab-pane">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Employee</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="{% url 'farm_coffee_app:create_employee' %}" class="btn btn-success"><i class="bi bi-plus-square me-2"></i> <span>Add Employee</span></a>
						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="bi bi-dash-square me-2"></i> <span>Delete</span></a>						
					</div>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAllEmployee">
								<label for="selectAllEmployee"></label>
							</span>
						</th>
                        <th>First Name</th>
						<th>Last Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="employee_table">
					{% for employee in employees %}
                    <tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox2" name="options[]" value="1">
								<label for="checkbox2"></label>
							</span>
						</td>
                        <td>{{employee.first_name}}</td>
                        <td>{{employee.last_name}}</td>
						<td>{{employee.email}}</td>
                        <td>
                            <a href="{% url 'farm_coffee_app:delete_employee' employee.id %}" class="delete"><i class="bi bi-trash3-fill red-color" data-toggle="tooltip" title="Delete"></i></a>
                        </td>
                    </tr>
					{% endfor %}					 
                </tbody>
            </table>
        </div>
    </div>

<!-- Order Management -->
<br>
    <div id="order_info" class="container tab-pane active">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Order</b></h2>
					</div>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAllOrder">
								<label for="selectAllOrder"></label>
							</span>
						</th>
                        <th>Customer</th>
						<th>Street</th>
                        <th>City</th>
                        <th>Zip-Code</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Ordered-Date</th>
                        <th>Product Details</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="order_table">
					{% for order in orders %}
                    <tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox3" name="options[]" value="1">
								<label for="checkbox3"></label>
							</span>
						</td>
                        <td>{{order.first_name}} {{order.last_name}}</td>
                        <td>{{order.street}}</td>
						<td>{{order.city}}</td>
						<td>{{order.province}}</td>
						<td>{{order.zip_code}}</td>
						<td>{{order.phone_number}}</td>
						<td>{{order.status}}</td>
						<td>{{order.O}</td>
                        <td>
                            <a href="{% url 'farm_coffee_app:update_order' order.order_id %}" class="edit"><i class="bi bi-pencil-fill yellow-color me-2" data-toggle="tooltip" title="Edit"></i></a>
                        </td>
                    </tr>
					{% endfor %}					 
                </tbody>
            </table>
        </div>
    </div>

<script>
	// For Product Dashboard
    $(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table #product_table input[type="checkbox"]');
	$("#selectAllProduct").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAllProduct").prop("checked", false);
		}
	});
});

	// For Employee Dashboard
    $(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table #employee_table input[type="checkbox"]');
	$("#selectAllEmployee").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAllEmployee").prop("checked", false);
		}
	});
});

// For Order Dashboard
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table #order_table input[type="checkbox"]');
	$("#selectAllOrder").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAllOrder").prop("checked", false);
		}
	});
});

const prod = document.getElementById("product_info")
const emp = document.getElementById("employee_info")
const order = document.getElementById("order_info")


function getInfos(type) {


	if(type=="product"){
		prod.classList.remove("hidden");
		order.classList.add("hidden");
		emp.classList.add("hidden");

	}else if(type=="employee"){
		emp.classList.remove("hidden");
		prod.classList.add("hidden");
		order.classList.add("hidden");

	}else if(type=="order"){
		order.classList.remove("hidden");
		prod.classList.add("hidden");
		emp.classList.add("hidden");
	}
  
}

</script>

		

	
</body>
</html>

{% endblock %}