{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="d-flex flex-column justify-content-center gap-2 align-items-center">
    <h2 class="mt-4">Creating Employee</h2>
<form method="POST" action="">
    {% csrf_token %}

    
    <label for="name">Username</label>
    <div class="input-group mb-2">
        {{form.username}}
    </div>
    
    <label for="first_name">First Name</label>
    <div class="input-group mb-2">
        {{form.first_name}}
    </div>

    <label for="last_name">Last Name</label>
    <div class="input-group mb-2">
        {{form.last_name}}
    </div>

    <label for="email">Email</label>
    <div class="input-group mb-2">
        {{form.email}}
    </div>

    <label for="password1">Password</label>
    <div class="input-group mb-2">
        {{form.password1}}
    </div>
    
    <label for="password2">Password Confirm</label>
    <div class="input-group mb-2">
        {{form.password2}}
    </div>
    

    <input type="submit" value="Create Employee">
    
</form>
</div>


{% endblock %}