{% extends 'base.html' %}
{% block content %}


<form method="POST" action="{% url 'farm_coffee_app:create_product' %}">
    {% csrf_token %}
    
    <select hidden name="user">
        <option selected>{{User}}</option>
    </select>

    <label for="name">Product Name</label>
    {{product_form.name}}
    
    <label for="price">Product Price</label>
    {{product_form.price}}

    <label for="image">Image</label>
    {{product_form.image}}

    <label for="category">Category</label>
    {{product_form.category}}
    
    <label for="availability">Product Availability</label>
    {{product_form.availability}}

    <input type="submit" value="Submission">
    
</form>

{% endblock %}