{% extends 'base.html' %}
{% block content %}

{% if view_product_list %}
<div class="container">
  <div class="row">
    {% for product_list in view_product_list %}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card shadow">
                <img src="product.imageURL" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{ product_list.name }}</h2>
                    <p class="card-text">฿{{ product_list.price }}</p>
                </div>
                <div class="card-body card-p">
                    <div class="row">
                        <div class="col col-xmd-12">
                          <a class="btn btn-outline-primary" href="{% url 'farm_coffee_app:read_product_detail' product_list.product_id %}">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </div>
    
    {% endfor %}
  
      
  </div>
</div>
{% else %}
<div class="d-flex flex-column align-items-center">
    <img src="../static/farm_coffee_app/images/empty_state.png">
    <h2>The product list is currently empty. Please add product to view them in the list.</h2>
  </div>
{% endif %}

{% endblock %}