{% extends 'base.html' %}
{% block content %}

{{context}}
{% if product %}
    
    <h2>{{ product.product_id }}</h2>
        
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.imageURL }}" class="img-fluid rounded-start" alt="...">
          </div>
          <form class="col-md-8" id="process_order">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p>Star rating goes here</p> 
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <hr>
              <p class="card-text"><small class="text-muted">{{ product.availability }}</small></p>
              <input type="hidden" name="product" id="product_id" value="{{ product.product_id }}"/>
              
              <div class="add-to-cart">
              <h5>฿{{ product.price }}</h5>
              <button type="button" data-product="{{product.product_id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            </div>
            </div>
          </form>
        </div>
      </div> 

    <form method="POST" action=""> 
        {% csrf_token %}
   <button>Submit</button>

</form>
    <a href="{% url 'farm_coffee_app:update_product' product.product_id%}">Update</a>
    <a href="{% url 'farm_coffee_app:delete_product' product.product_id%}">Delete</a>
  
    
    <form method="POST" action="{% url 'farm_coffee_app:create_review' %}">
        {% csrf_token %}
      
        <input hidden name='path' value="{{ request.path }}" />
            <input hidden type="number" name="product_fk_product_id" value={{product.product_id}}>
        <label for="rating">Rating</label>
             <input type="number" min="0" max="5" name="rating" class="range-field">
    
        <label for="review_description">Review</label>
            <input type="text" name="review_description">
    
        <input type="submit" value="Send">
        
    </form>
   
{% endif %}

    {% if product.review.all %}
        <ul>
            {% for view in product.review.all %}
                <li> {{ view.users_fk_user_id }}</li>
                <li> {{ view.rating }}</li>
                <li> {{ view.review_description }}</li>
                <li> {{ view.pub_date }}</li>

            {% if user.pk == view.users_fk_user_id.pk %}
            <a href="{% url 'farm_coffee_app:update_review' view.reviews_id %}">Update</a>
            <a href="{% url 'farm_coffee_app:delete_review' view.reviews_id %}">Delete</a>   
            {% endif %}
                
    {% endfor %}
        </ul>
            {% else %}
                <h2>The are currently no reviews available.</h2>
            {% endif %}
            <h2>{{process_order.product_id}}</h2>

    <script>
        function checkbox(){
            let selectedOptions = document.querySelectorAll(".options")
            if(document.getElementById('None').checked==true){
                selectedOptions.forEach(element => {
                    element.disabled=true
                    element.checked=false
                });
            }else{
                selectedOptions.forEach(element => {element.disabled=false});
            }
        }
    </script> 
        
{% endblock %}