{% extends 'base.html' %}
{% block content %}

{{context}}
{% if product %}
    
    <h2>{{ product.product_id }}</h2>
    <h2>{{ product.name }}</h2>
    <h2>{{ product.price }}</h2>
    <h2>{{ product.image }}</h2>
    <h2>{{ product.availability }}</h2>
    
    <h2>{% for topping in product.toppings.all %}
            <h2>Added Topping: {{ topping.name }}</h2>
        {% endfor %}
    </h2>

    

    <form method="POST" action="{% url 'farm_coffee_app:add_to_cart' %}">
        {% csrf_token %}
        <input type="hidden" name="product" value="{{ product.product_id }}"/>
        <input class="options" type="checkbox" name="toppings" id="Boba" value="Boba"/><label for="">Boba</label><br>
        <input class="options" type="checkbox" name="toppings" id="Whipped_Cream" value="Whipped Cream"/><label for="">Whipped Cream</label><br>
        <input class="options" type="checkbox" name="toppings" id="Coffee_Shot" value="Coffee Shot"/><label for="">Coffee Shot</label><br>
        <input type="checkbox" name="toppings" id="None" value="None" onClick="checkbox()"/><label for="">None</label><br>
    <button>Submit</button>

</form>
    <a href="{% url 'farm_coffee_app:update_product' product.product_id%}">Update</a>
    <a href="{% url 'farm_coffee_app:delete_product' product.product_id%}">Delete</a>
  
    
    <form method="POST" action="{% url 'farm_coffee_app:create_review' %}">
        {% csrf_token %}
      
        <input hidden name='path' value="{{ request.path }}" />
            <input hidden type="number" name="product_fk_product_id" value={{product.product_id}}>
        <label for="rating">Rating</label>
             <input type="number" min="0" max="5" name="rating" class="range-field">
    
        <label for="review_description">Review</label>
            <input type="text" name="review_description">
    
        <input type="submit" value="Send">
        
    </form>
   
{% endif %}

    {% if product.review.all %}
        <ul>
            {% for view in product.review.all %}
                <li> {{ view.users_fk_user_id }}</li>
                <li> {{ view.rating }}</li>
                <li> {{ view.review_description }}</li>
                <li> {{ view.pub_date }}</li>

            {% if user.pk == view.users_fk_user_id.pk %}
            <a href="{% url 'farm_coffee_app:update_review' view.reviews_id %}">Update</a>
            <a href="{% url 'farm_coffee_app:delete_review' view.reviews_id %}">Delete</a>   
            {% endif %}
                
    {% endfor %}
        </ul>
            {% else %}
                <h2>The are currently no reviews available.</h2>
            {% endif %}


    <script>
        function checkbox(){
            let selectedOptions = document.querySelectorAll(".options")
            if(document.getElementById('None').checked==true){
                selectedOptions.forEach(element => {
                    element.disabled=true
                    element.checked=false
                });
            }else{
                selectedOptions.forEach(element => {element.disabled=false});
            }
        }
    </script> 
        
{% endblock %}